body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
body {
    color: #5a5a5a;
}

.navbar-custom {
    background-color:black;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

#titre{
    text-align: center;
}

.Center{
    text-align: center;
}

.CenterB{
    display: block;
    margin: 0 auto;
}

.liens{
    text-align: center;
    margin-top: 3%
}

.imageT{
    margin-top: 3%
}

.barre{
    margin-bottom: 3%   
}

.rond{
    background-color:darkorange;
    border: none;
    border-radius:50px;
    text-decoration : none;
    width:300px;
    height:140px;
}

.fond{
    background-image: url(http://www.rslnmag.fr/image.axd?picture=2015%2F6%2FSPARK_0007.jpg);
}

.boubouton{
    margin-top: 45%;
    margin-bottom: 45%;
    margin-left: 45%;
    margin-right: 45%;
}

#ptiboutton{
    margin-top: 5%;   
}

#pied{
    margin-top: 5%;
}

.navbar-wrapper {
    margin-top: 20px;
}
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

#success_message{ 
    display: none;
}

.carousel {
    height: 500px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}
#Center{
    text-align: center;
}

#log{
    color: cyan;
}
#fff{
    
    box-shadow: 1px 1px 8px #E0E0E0;
    border-spacing:inherit;
}
#Car{
    box-shadow: 1px 1px 12px #555;
}
#ok{
    box-shadow: 2px 2px 10px #E0E0E0;
}
#navnav{
    box-shadow: 2px 2px 10px #000;
}
.st{
    margin-top: 5%;
}
