extends layout

block espace

        // Tuile page -
        .container
            .row
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .box
                        .info
                            h4.text-center Fiche perso
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
                            a.btn(href='/fiche') Acceder
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .box
                        .info
                            h4.text-center Demandes
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
                            a.btn(href='/proposition') Acceder
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .box
                        .info
                            h4.text-center Passer le test
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
                            a.btn(href='/test') Acceder
